In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [31]:
data=pd.read_csv('carPricing.csv')
data

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,Hyundai i10,Hyundai,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
15407,Maruti Ertiga,Maruti,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
15408,Skoda Rapid,Skoda,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
15409,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
15410,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [32]:
data.dtypes

car_name              object
brand                 object
model                 object
vehicle_age            int64
km_driven              int64
seller_type           object
fuel_type             object
transmission_type     object
mileage              float64
engine                 int64
max_power            float64
seats                  int64
selling_price          int64
dtype: object

In [33]:
for column in data.columns:
    print(column,':',data[column].unique())

car_name : ['Maruti Alto' 'Hyundai Grand' 'Hyundai i20' 'Ford Ecosport'
 'Maruti Wagon R' 'Hyundai i10' 'Hyundai Venue' 'Maruti Swift'
 'Hyundai Verna' 'Renault Duster' 'Mini Cooper' 'Maruti Ciaz'
 'Mercedes-Benz C-Class' 'Toyota Innova' 'Maruti Baleno'
 'Maruti Swift Dzire' 'Volkswagen Vento' 'Hyundai Creta' 'Honda City'
 'Mahindra Bolero' 'Toyota Fortuner' 'Renault KWID' 'Honda Amaze'
 'Hyundai Santro' 'Mahindra XUV500' 'Mahindra KUV100' 'Maruti Ignis'
 'Datsun RediGO' 'Mahindra Scorpio' 'Mahindra Marazzo' 'Ford Aspire'
 'Ford Figo' 'Maruti Vitara' 'Tata Tiago' 'Volkswagen Polo' 'Kia Seltos'
 'Maruti Celerio' 'Datsun GO' 'BMW 5' 'Honda CR-V' 'Ford Endeavour'
 'Mahindra KUV' 'Honda Jazz' 'BMW 3' 'Audi A4' 'Tata Tigor'
 'Maruti Ertiga' 'Tata Safari' 'Mahindra Thar' 'Tata Hexa'
 'Land Rover Rover' 'Maruti Eeco' 'Audi A6' 'Mercedes-Benz E-Class'
 'Audi Q7' 'BMW Z4' 'BMW 6' 'Jaguar XF' 'BMW X5' 'MG Hector' 'Honda Civic'
 'Isuzu D-Max' 'Porsche Cayenne' 'BMW X1' 'Skoda Rapid' 'Ford Freestyle'
 'Skoda Superb' 'Tata Nexon' 'Mahindra XUV300' 'Maruti Dzire VXI'
 'Volvo S90' 'Honda WR-V' 'Maruti XL6' 'Renault Triber' 'Lexus ES'
 'Jeep Wrangler' 'Toyota Camry' 'Hyundai Elantra' 'Toyota Yaris'
 'Mercedes-Benz GL-Class' 'BMW 7' 'Maruti S-Presso' 'Maruti Dzire LXI'
 'Hyundai Aura' 'Volvo XC' 'Maserati Ghibli' 'Bentley Continental'
 'Honda CR' 'Nissan Kicks' 'Mercedes-Benz S-Class' 'Hyundai Tucson'
 'Tata Harrier' 'BMW X3' 'Skoda Octavia' 'Jeep Compass'
 'Mercedes-Benz CLS' 'Datsun redi-GO' 'Toyota Glanza' 'Porsche Macan'
 'BMW X4' 'Maruti Dzire ZXI' 'Volvo XC90' 'Jaguar F-PACE' 'Audi A8'
 'ISUZU MUX' 'Ferrari GTC4Lusso' 'Mercedes-Benz GLS' 'Nissan X-Trail'
 'Jaguar XE' 'Volvo XC60' 'Porsche Panamera' 'Mahindra Alturas'
 'Tata Altroz' 'Lexus NX' 'Kia Carnival' 'Mercedes-AMG C' 'Lexus RX'
 'Rolls-Royce Ghost' 'Maserati Quattroporte' 'Isuzu MUX' 'Force Gurkha']
brand : ['Maruti' 'Hyundai' 'Ford' 'Renault' 'Mini' 'Mercedes-Benz' 'Toyota'
 'Volkswagen' 'Honda' 'Mahindra' 'Datsun' 'Tata' 'Kia' 'BMW' 'Audi'
 'Land Rover' 'Jaguar' 'MG' 'Isuzu' 'Porsche' 'Skoda' 'Volvo' 'Lexus'
 'Jeep' 'Maserati' 'Bentley' 'Nissan' 'ISUZU' 'Ferrari' 'Mercedes-AMG'
 'Rolls-Royce' 'Force']
model : ['Alto' 'Grand' 'i20' 'Ecosport' 'Wagon R' 'i10' 'Venue' 'Swift' 'Verna'
 'Duster' 'Cooper' 'Ciaz' 'C-Class' 'Innova' 'Baleno' 'Swift Dzire'
 'Vento' 'Creta' 'City' 'Bolero' 'Fortuner' 'KWID' 'Amaze' 'Santro'
 'XUV500' 'KUV100' 'Ignis' 'RediGO' 'Scorpio' 'Marazzo' 'Aspire' 'Figo'
 'Vitara' 'Tiago' 'Polo' 'Seltos' 'Celerio' 'GO' '5' 'CR-V' 'Endeavour'
 'KUV' 'Jazz' '3' 'A4' 'Tigor' 'Ertiga' 'Safari' 'Thar' 'Hexa' 'Rover'
 'Eeco' 'A6' 'E-Class' 'Q7' 'Z4' '6' 'XF' 'X5' 'Hector' 'Civic' 'D-Max'
 'Cayenne' 'X1' 'Rapid' 'Freestyle' 'Superb' 'Nexon' 'XUV300' 'Dzire VXI'
 'S90' 'WR-V' 'XL6' 'Triber' 'ES' 'Wrangler' 'Camry' 'Elantra' 'Yaris'
 'GL-Class' '7' 'S-Presso' 'Dzire LXI' 'Aura' 'XC' 'Ghibli' 'Continental'
 'CR' 'Kicks' 'S-Class' 'Tucson' 'Harrier' 'X3' 'Octavia' 'Compass' 'CLS'
 'redi-GO' 'Glanza' 'Macan' 'X4' 'Dzire ZXI' 'XC90' 'F-PACE' 'A8' 'MUX'
 'GTC4Lusso' 'GLS' 'X-Trail' 'XE' 'XC60' 'Panamera' 'Alturas' 'Altroz'
 'NX' 'Carnival' 'C' 'RX' 'Ghost' 'Quattroporte' 'Gurkha']
vehicle_age : [ 9  5 11  6  8  3  2  4  7 10 14 12  1 15 13 16 17 18 29 19  0 21 22 25]
km_driven : [ 120000   20000   60000 ...    9229   10723 3800000]
seller_type : ['Individual' 'Dealer' 'Trustmark Dealer']
fuel_type : ['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric']
transmission_type : ['Manual' 'Automatic']
mileage : [19.7  18.9  17.   20.92 22.77 20.36 20.51 18.15 16.6  22.32 19.64 14.41
 28.09 25.2  19.27 28.4  12.99 21.4  20.85 16.09 19.67 17.4  13.6  26.59
 17.7  17.19 13.   23.01 18.6  17.92 15.1  23.4  22.54 18.   21.   15.4
 20.89 26.6  22.5  17.8  20.54 17.3  25.   24.   18.16 21.21 14.   16.8
 25.17 24.3  18.5  23.84 18.78 11.74 25.1  21.01 22.74 21.9  15.6  19.1
 22.07 22.   23.1  23.   19.08 18.27 23.9  16.1  19.81 19.44 18.59 20.62
 17.01 17.5  12.05 25.83 21.79 13.7  16.47 20.7  10.91 25.8  25.32 19.87
 18.7  14.4  22.69 20.73 16.55 20.   21.5  24.7  23.95 21.63 17.43 25.47
 33.54 15.96 21.19 26.   12.55 16.9  22.3  12.9  13.5  17.84 27.28 24.04
 22.7  16.   17.6  21.7  20.45 17.14 19.6  20.4  12.63 17.1  15.37 11.4
 13.68 17.68 12.3  12.19 17.33 20.77 12.07 20.3  27.39 16.36 15.8  11.29
 20.52 31.79  9.17 20.8  14.28 19.3  26.21 18.1  22.9  14.94 13.38 17.41
 11.5  17.03 18.2  13.9  12.4  19.34 15.81 14.21 15.15 19.01 18.12 30.46
 17.05 21.94 24.52 15.   19.   13.14 14.84 26.2  20.63 10.26 14.7  33.44
 17.2  23.26 11.36 17.99 21.13 20.68 15.26 11.57 19.12 22.05 11.8  13.93
 16.93 13.2  18.25 26.32 19.83 22.37  9.5  19.16 16.7  27.3  19.5  20.14
 19.62 22.27 32.52 11.3  15.74 16.2  24.4  18.69 15.04 17.66 12.   15.29
 14.3  10.1  16.02 15.85 14.49 16.5  22.48 22.1  15.2  10.   14.62 23.7
 12.7  10.75 21.38 20.28 11.33 20.5  17.11 22.15 11.1   8.45 20.41 10.5
 21.14  9.52 24.2  18.48 18.88 20.34 12.8  11.79 25.5  11.88 12.5  19.72
 14.23 14.1  14.12 11.25 13.33 13.4  16.38 13.96 19.56 11.   15.9  27.62
 19.95 13.1  20.46 12.39 27.4  18.23 22.8  14.59 18.19 14.8  23.8  20.65
 19.4  20.64 26.83 26.1  14.67 19.59 12.81 26.8  10.8  17.21 18.56 17.9
 16.95 21.66 26.08 12.98 18.24 18.53 12.1   7.81 26.55 18.06 13.45 11.7
 30.48 21.3  14.04 20.04 30.47 12.97 16.4  16.07 14.24 21.76 21.49 21.27
 14.71 11.49 21.56 19.71 16.73 16.11 14.5  19.02 14.75 25.6  24.07 19.33
 10.13 16.05 10.93 24.12 24.8  13.24 14.69 12.35 20.2  21.74 15.63 21.1
 14.74 15.34 23.5  24.29 15.5  16.77 14.19 15.11 18.76 19.2  17.09 16.46
 13.8  20.88 16.3  15.97  4.    9.26 12.65 15.3  20.35 14.42 20.71 15.64
 19.39 14.6  10.9   9.   21.72 32.26  7.5  23.87 19.23 26.82 12.51 15.68
 15.06 14.57  9.3  12.6  11.2  12.83 10.2  19.05 12.62 10.37 18.32 19.91
 18.57 15.41  8.9  14.11  8.5  11.9  16.78 18.3   7.94 10.6  18.8  11.78
  6.   17.54 11.31 17.85 18.4  24.1  14.38 10.4  15.01 17.24 13.29 19.19
 20.6   8.77 17.61 18.42 12.95 14.99 15.92  8.6  17.69 16.12 18.84 19.65
 17.74 17.18 13.53]
engine : [ 796 1197  998 1498 1582 1461 1998 1248 2143 2494 1598 1497 2523 2982
  999 1199 1086 2179 1396 1198 1590 1997 1493 1120 1196 1186 1061  799
 1796 2993 1298 3198 1995 1373 1591 1968 1399 1047 1353 2755 1395 2498
 1999 2953 2393 2967 2998 2995 1956 1462 1799 2499 1451 1194 1798 2694
 1496 1969 2487 3604 1499 2987 1599 2354 1950 2148 4134 2400 1984 2979
 2609 2092 5998 1330 2956 3598 2362  793 1368 3597 1991 5461 1343 2497
 4367 1797 3498 2698 1896 2999 3855 4806 1985 2771 2157 3628 2198 2996
 2199 4395 3456 4663 2773 6592 2495 1781 2997 1597 2596 4163]
max_power : [ 46.3   82.    80.    67.1   98.59  78.9   67.04 118.35  85.   126.32
 108.45 189.08  88.5   74.   170.   100.6   83.1   83.14 103.2  126.2
 117.3   63.    78.    81.86 168.5   67.    88.76  62.1  140.    88.73
  81.83  74.96  94.    81.8   58.16  68.   126.3  120.   103.6  121.
 113.42 152.87  70.    86.8   73.97  86.7   64.   116.3   53.3   82.9
  75.    84.   186.    98.6  113.4   47.3   90.    85.8   73.9   82.85
  98.96  68.05 261.49  74.02  99.    67.05 153.86 197.    77.    83.8
  88.7   61.7  190.    91.1  121.3  118.   147.51  69.   138.   105.5
 138.1  100.    53.26 174.5  115.   105.    89.84 117.6  177.    88.51
  73.   174.33 185.   237.36  88.8  241.4   83.11 335.    67.06  58.33
 335.25 254.7  123.24 187.7  204.   265.   167.68 171.   121.36 103.26
 147.8  130.2  134.   103.   141.   203.   110.   240.   184.   168.7
 103.52  94.68 157.8   58.2  108.5  163.7  120.69  40.3  147.5  171.5
 108.6  103.5   53.64 241.6   71.   187.74  93.87 214.56 280.   214.5
 126.24 254.8  188.   167.62 355.37 187.4  191.7  152.    93.7  110.4
 258.   138.03  88.2   83.83 140.8   57.5  149.92  88.   224.    68.1
 103.25 335.2  200.   241.3  321.   271.   127.   313.   102.    68.07
 157.7   72.   119.35 121.31 626.   130.   197.2  420.   147.94 153.87
 254.79 148.   177.46 300.   164.7  183.   121.4   47.    98.63 169.
  94.93  80.9  178.   138.08 112.   160.   139.46 160.77 108.49  38.4
  99.23  80.46 148.31 132.   201.1  260.   189.   168.    91.19 178.4
 108.62 141.1  177.5  362.9  282.    58.    83.81 150.    70.02 181.
 252.   158.2  192.   335.3  201.15 218.    72.42 157.75 245.    97.9
 100.57 116.4  364.9  167.6  123.37 102.57 181.03 272.   235.   181.04
 248.   179.5   66.   104.55 173.   104.5  178.3  154.   246.7  105.94
 244.1  215.    53.   175.   198.5  270.9  249.   116.6  601.   301.8
 138.13 255.   261.4  147.6  155.   120.7  108.    61.6  122.4  100.5
 394.3  118.3  210.   237.4   98.   167.67 163.   130.3  241.38 306.
 193.1   97.89 178.49 161.6   98.97  84.48 112.44 308.    84.82 158.
  76.43 301.72 194.3  147.4  333.   500.   194.   182.46 362.07 440.
  58.3  450.   362.    91.2  258.81 459.   151.89 600.    59.18 246.74
 197.13 158.8  261.5  194.4  201.   103.56  65.39 563.   296.   248.08
 163.2  143.   156.   270.88 385.   402.   231.1  174.57 152.88 552.
 106.    83.    80.8  130.1  119.3   62.   259.   221.3   75.1  349.5
 170.63 177.01]
seats : [5 8 7 6 4 2 9 0]
selling_price : [ 120000  550000  215000 ... 1640000  386000  456000]

In [36]:
cols=['car_name','brand','model','car_name','seller_type','fuel_type','transmission_type']
for column in cols:
    data[column]=data[column].astype('category')

In [37]:
data.dtypes

car_name             category
brand                category
model                category
vehicle_age             int64
km_driven               int64
seller_type          category
fuel_type            category
transmission_type    category
mileage               float64
engine                  int64
max_power             float64
seats                   int64
selling_price           int64
dtype: object

In [38]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for column in cols:
    data[column]=le.fit_transform(data[column])

In [39]:
data

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,65,18,7,9,120000,1,4,1,19.70,796,46.30,5,120000
1,34,8,54,5,20000,1,4,1,18.90,1197,82.00,5,550000
2,40,8,118,11,60000,1,4,1,17.00,1197,80.00,5,215000
3,65,18,7,9,37000,1,4,1,20.92,998,67.10,5,226000
4,20,6,38,6,30000,0,1,1,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,39,8,117,9,10723,0,4,1,19.81,1086,68.05,5,250000
15407,73,18,42,2,18000,0,4,1,17.50,1373,91.10,7,925000
15408,101,27,77,6,67000,0,1,1,21.14,1498,103.52,5,425000
15409,64,17,114,5,3800000,0,1,1,16.00,2179,140.00,7,1225000
15410,27,7,25,2,13000,0,4,0,18.00,1497,117.60,5,1200000

In [41]:
data.drop('car_name',axis=1)
x=data.drop('selling_price',axis=1)
y=data.selling_price

In [42]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=17)
x_train.shape,x_test.shape

((12328, 12), (3083, 12))

In [46]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error,mean_squared_error,root_mean_squared_error

In [47]:
models=[LinearRegression(),Ridge(),Lasso(),SVR(),RandomForestRegressor(),KNeighborsRegressor()]
for model in models:
    model.fit(x_train,y_train)
    pred=model.predict(x_test)
    print(model,':','Score:',model.score(x_test,y_test))
    print(model,':','Mean absolute error:',mean_absolute_error(y_test,pred))
    print(model,':','Mean squared error:',mean_squared_error(y_test,pred))
    print(model,':','Root mean squared error:',root_mean_squared_error(y_test,pred))
    print('---------------------------------\n')

LinearRegression() : Score: 0.6717779319127837
LinearRegression() : Mean absolute error: 259187.04188164813
LinearRegression() : Mean squared error: 210434132765.9361
LinearRegression() : Root mean squared error: 458731.0026212923
---------------------------------

Ridge() : Score: 0.6717756659365351
Ridge() : Mean absolute error: 259186.94217069837
Ridge() : Mean squared error: 210435585559.0085
Ridge() : Root mean squared error: 458732.5861098255
---------------------------------

d:\ML\7\env\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.915e+15, tolerance: 1.034e+12
  model = cd_fast.enet_coordinate_descent(

Lasso() : Score: 0.6717774981226198
Lasso() : Mean absolute error: 259187.4900788301
Lasso() : Mean squared error: 210434410883.30182
Lasso() : Root mean squared error: 458731.3057589397
---------------------------------

SVR() : Score: -0.08317977874020865
SVR() : Mean absolute error: 400308.493318959
SVR() : Mean squared error: 694462741939.1737
SVR() : Root mean squared error: 833344.3117578554
---------------------------------

RandomForestRegressor() : Score: 0.9263286609153472
RandomForestRegressor() : Mean absolute error: 99411.73094809828
RandomForestRegressor() : Mean squared error: 47233156625.728905
RandomForestRegressor() : Root mean squared error: 217331.90429784785
---------------------------------

KNeighborsRegressor() : Score: 0.6128159281674905
KNeighborsRegressor() : Mean absolute error: 244188.72040220565
KNeighborsRegressor() : Mean squared error: 248236643110.80927
KNeighborsRegressor() : Root mean squared error: 498233.52266864706
---------------------------------